@import "bootstrap-icons/font/bootstrap-icons.css";

body {
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}

input, button {
  margin-top: 10px;
  height: 30px;
  margin-right: 5px;
}

select {
  margin-top: 10px;
  height: 40px;
  margin-right: 5px;
}

textarea {
  resize: none;
  width: 143px;
  height: 100px;
}

.form {
  width: 100%;
}

.form_field_parent {
  display: flex;
}

.form_field_child {
  margin-right: 20px;
}

small {
  color: #6c757d;
  text-decoration: underline;
}

/* flex box */
.result_container {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px 20px;
}

.result_container__item {
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 20%;
  padding: 10px;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
  order: 5;
}

.result_container__item i {
  font-size: 20px;
  color: #007bff;
  margin-right: 10px;
}

.result_container__item i:hover {
  color: #0056b3;
  border: 1px solid #0056b3;
  padding: 5px;
  border-radius: 5px;
  width: 10px;
  cursor: pointer;
}

.result_container__item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.custom__link {
  font-size: 2rem; 
  color: cornflowerblue;
}

nav {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.nav__item {
  cursor: pointer;
  margin-right: 2px;
  
}

.nav__item:hover {
  background-color: gray;
  color: white;
  height: 30px;
  width: 60px;
  padding: 5px;
  box-shadow: 40px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
}
