@import "bootstrap-icons/font/bootstrap-icons.css";

body {
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}

input, button, select {
  margin-top: 10px;
  height: 30px;
  margin-right: 5px;
}

textarea {
  resize: none;
  width: 143px;
  height: 100px;
}
.form {
  width: 100%;
}

.categories__result {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px 20px;
}

.categories__result__item {
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 20%;
  padding: 10px;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
  order: 5;
}

.categories__result__item i {
  font-size: 20px;
  color: #007bff;
  margin-right: 10px;
}

.categories__result__item i:hover {
  color: #0056b3;
  border: 1px solid #0056b3;
  padding: 5px;
  border-radius: 5px;
  width: 10px;
  cursor: pointer;
}

.categories__result__item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

small {
  color: #6c757d;
  text-decoration: underline;
}